[Unit]
Description=znc, and advanced IRC bouncer
After=network-online.target

[Service]
ExecStart=/usr/bin/znc -f --datadir=/home/ubuntu/.znc
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
